<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= patient.name %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/record.css">
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <p id="closeSideBar" onclick="w3_close()">&times;</p>
        <div class=" patient-info">
            <img src="<%= patient.pic %>" id="patientPic" class="center" width=200>
            <p id="patientName">
                <%= patient.name %>
            </p>
        </div>
        <a onclick="w3_close()" href="#patientInfo">Patient Information</a>
        <a onclick="w3_close()" href="#vitals">Vital Signs</a>
        <a onclick="w3_close()" href="#history">History</a>
        <a onclick="w3_close()" href="#review">Review of Systems</a>
        <a onclick="w3_close()" href="#physical">Physical Exam</a>
        <a onclick="w3_close()" href="#cbc">CBC</a>
        <a onclick="w3_close()" href="#urinalysis">Urinalysis</a>
        <a onclick="w3_close()" href="#ecg">Electrocardiogram</a>
        <a onclick="w3_close()" href="#visitHistory">Visit History</a>
    </div>
    <div id="main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
                    <img id="logo" src="/img/logo.png" width=200>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#patientInfo">Patient
                                        Information</a>
                                    <button data-panel="patientInfo" type="button" class="btn btn-primary panel-action edit-btn">Edit</button>
                                    <button data-panel="patientInfo" type="button" class="btn btn-success panel-action save-btn hide">Save</button>
                                    <button data-panel="patientInfo" type="button" class="btn btn-danger panel-action cancel-btn hide">Cancel</button>
                                </h4>
                            </div>
                            <div id="patientInfo" class="panel-collapse collapse">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#vitals">Vital Signs</a>
                                    <button data-panel="vitals" type="button" class="btn btn-primary panel-action edit-btn">Edit</button>
                                    <button data-panel="vitals" type="button" class="btn btn-success panel-action save-btn hide">Save</button>
                                    <button data-panel="vitals" type="button" class="btn btn-danger panel-action cancel-btn hide">Cancel</button>
                                </h4>
                            </div>
                            <div id="vitals" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-data">
                                        <p class="data-header">Date Taken</p>
                                        <select id="vitalsDates" class="form-control">
                                            <option data-height="190" data-weight="140">2018-10-26</option>
                                            <option data-height="187" data-weight="136">2018-2-12</option>
                                            <option data-height="186" data-weight="120">2017-12-3</option>
                                            <option data-height="186" data-weight="122">2017-11-5</option>
                                            <option data-height="186" data-weight="124">2017-10-12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#history">History</a>
                                    <button data-panel="history" type="button" class="btn btn-primary panel-action edit-btn">Edit</button>
                                    <button data-panel="history" type="button" class="btn btn-success panel-action save-btn hide">Save</button>
                                    <button data-panel="history" type="button" class="btn btn-danger panel-action cancel-btn hide">Cancel</button>
                                </h4>
                            </div>
                            <div id="history" class="panel-collapse collapse">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#review">Review of Systems</a>
                                    <button data-panel="review" type="button" class="btn btn-primary panel-action edit-btn">Edit</button>
                                    <button data-panel="review" type="button" class="btn btn-success panel-action save-btn hide">Save</button>
                                    <button data-panel="review" type="button" class="btn btn-danger panel-action cancel-btn hide">Cancel</button>
                                </h4>
                            </div>
                            <div id="review" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="data-header">Date Taken</p>
                                    <select id="reviewDates" class="form-control">
                                        <option>2018-10-26</option>
                                        <option>2018-2-12</option>
                                        <option>2017-12-3</option>
                                        <option>2017-11-5</option>
                                        <option>2017-10-12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#physical">Physical Exam</a>
                                    <button data-panel="physical" type="button" class="btn btn-primary panel-action edit-btn">Edit</button>
                                    <button data-panel="physical" type="button" class="btn btn-success panel-action save-btn hide">Save</button>
                                    <button data-panel="physical" type="button" class="btn btn-danger panel-action cancel-btn hide">Cancel</button>
                                </h4>
                            </div>
                            <div id="physical" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="data-header">Date Taken</p>
                                    <select id="physicalDates" class="form-control">
                                        <option>2018-10-26</option>
                                        <option>2018-2-12</option>
                                        <option>2017-12-3</option>
                                        <option>2017-11-5</option>
                                        <option>2017-10-12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#cbc">Complete Blood Count</a>
                                </h4>
                            </div>
                            <div id="cbc" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="data-header">Date Taken</p>
                                    <select id="cbcDates" class="form-control">
                                        <option>2018-10-26</option>
                                        <option>2018-2-12</option>
                                        <option>2017-12-3</option>
                                        <option>2017-11-5</option>
                                        <option>2017-10-12</option>
                                    </select>
                                    <div class="scrollable-img">
                                        <img src="/img/cbc.jpg" width="600px" height="600px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#urinalysis">Urinalysis</a>
                                </h4>
                            </div>
                            <div id="urinalysis" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="data-header">Date Taken</p>
                                    <select id="urinDates" class="form-control">
                                        <option>2018-10-26</option>
                                        <option>2018-2-12</option>
                                        <option>2017-12-3</option>
                                        <option>2017-11-5</option>
                                        <option>2017-10-12</option>
                                    </select>
                                    <div class="scrollable-img">
                                        <img src="/img/urinalysis.jpg" width="600px" height="600px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#ecg">Electrocardiogram</a>
                                </h4>
                            </div>
                            <div id="ecg" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="data-header">Date Taken</p>
                                    <select id="ecgDates" class="form-control">
                                        <option>2018-10-26</option>
                                        <option>2018-2-12</option>
                                        <option>2017-12-3</option>
                                        <option>2017-11-5</option>
                                        <option>2017-10-12</option>
                                    </select>
                                    <div class="scrollable-img">
                                        <img src="/img/ecg.png" width="800px" height="500px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-chevron-down"></span>
                                    <a data-toggle="collapse" href="#visitHistory">Visit History</a>
                                </h4>
                            </div>
                            <div id="visitHistory" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="timeline">
                                        <div class="container left">
                                            <div class="content">
                                                <h3>2018-10-26</h3>
                                                <p class="bold">High Precision Quirino</p>
                                                <p>Dr. Jonathan Bulos</p>
                                            </div>
                                        </div>
                                        <div class="container right">
                                            <div class="content">
                                                <h3>2018-2-12</h3>
                                                <p class="bold">Clinica Manila</p>
                                                <p>Dr. Josh Padilla</p>
                                            </div>
                                        </div>
                                        <div class="container left">
                                            <div class="content">
                                                <h3>2017-12-3</h3>
                                                <p class="bold">High Precision Quirino</p>
                                                <p>Dr. Moses Felizar</p>
                                            </div>
                                        </div>
                                        <div class="container right">
                                            <div class="content">
                                                <h3>2017-11-5</h3>
                                                <p class="bold">High Precision Quirino</p>
                                                <p>Dr. Jonathan Bulos</p>
                                            </div>
                                        </div>
                                        <div class="container left">
                                            <div class="content">
                                                <h3>2017-10-12</h3>
                                                <p class="bold">High Precision Rockwell</p>
                                                <p>Dr. Beth Abalos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function w3_open() {
        document.getElementById("mySidebar").style.width = "60%";
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    $(document).ready(function () {
        <% if (!canEdit) {%>
            $(".panel-action").addClass("hide");
        <% } %>

            $(".panel-title a").on("click", function () {
                if ($(this).siblings(".fa").css("transform") == 'none') {
                    $(this).siblings(".fa").css("transform", "rotate(180deg)");
                } else {
                    $(this).siblings(".fa").css("transform", "");
                }
            });
    })
</script>
<script src="/js/record-data.js"></script>

</html>