<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register a new Patient
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container">
        <div class="row form-background form-header">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Register</h1>
            </div>
            <hr>
        </div>
        <div class="row form-background">
            <div class="col-sm-6 col-sm-offset-3 ">
                <form>
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <input class="form-control" type="email" id="input-email" placeholder="example@server.com">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input class="form-control" type="password" id="input-password" placeholder="">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-confirm-password">Confirm Password</label>
                        <input class="form-control" type="password" id="input-confirm-password" placeholder="">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-birthday">Birthday</label>
                        <input class="form-control" type="date" id="input-birthday" placeholder="">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-biological-sex">Biological Sex</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio" name="input-biological-sex" id="input-biological-sex-male" value="male">
                            Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="input-biological-sex" id="input-biological-sex-female" value="female">
                            Female
                        </label>
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-address">Address</label>
                        <input class="form-control" type="text" id="input-address" placeholder="House No., Street, City">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-work-school">Work/School</label>
                        <input class="form-control" type="text" id="input-work-school" placeholder="">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-picture">Picture</label>
                        <input class="form-control" type="file" accept="image/*" id="input-picture" placeholder="">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="input-agreement">Agreement</label>
                        <br>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="input-agreement" id="input-agreement-agree" value="male">
                            I agree to the
                            <a target="_blank" href="https://www.sec.gov/Archives/edgar/data/1077183/000119312512009414/d281487dex101.htm">
                                Terms and Conditions
                            </a>
                            and
                            <a target="_blank" href="https://www.sec.gov/Archives/edgar/data/1077183/000119312512009414/d281487dex101.htm">Privacy
                                Policy
                            </a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Accept</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>