<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/data-privacy.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <img class="img-responsive" src="/img/logo.png">
                <h1>Terms and conditions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="text-align: justify;">
                <p>Disclaimer! The following document is a modified copy of the Data Privacy Terms and Conditions from
                    the following <a href="https://maniladoctors.com.ph/data-privacy-policy/">link</a>.</p>
                <p><strong>Introduction</strong><br>

                    3Boys1App Corp (Medconnect) is governed by top management as referenced
                    herein. The implementation of this Data Privacy Manual shall be in accordance with, but not
                    limited to, the requirements of Republic Act No. 10173 also known as the Data Privacy Act (DPA) of
                    2012, Department of Health, ISO 9001:2015, Accreditation Canada International, United Nations
                    Global Compact Principles and Philippine Healthcare Organization Benchbook. Procedures, policies,
                    forms, diagrams and similar documentation used by the organization whose direct or supportive
                    participation in processes affecting service quality are formally documented and controlled.</p>
                <p>The contents of this Manual as stated in the next pages have been agreed with by all units and
                    authorized for use within Medconnect.</p>
                <p>Review, approval, change and distribution of this Manual shall follow regulations and procedures as
                    defined in the Medconnect Policies and Procedures on Control of Documents and Records.<br>
                    Medconnect pledge to protect personal information<br>
                    Medconnect shall take steps to protect personal information from theft, loss or
                    unauthorized access, copying, modification, use, disclosure or disposal.<br>
                    Medconnect shall take steps to ensure that anyone who performs services on Manila
                    Doctors Hospital’s behalf respects privacy rights and only uses or discloses personal information
                    for permitted purposes.</p>
                <p>Medconnect shall promptly investigate all complaints regarding our compliance with the
                    Data Privacy Act of 2012. All privacy complaints shall be treated in a confidential manner.<br>
                    For more information about the privacy protection practices, or to raise a concern about our
                    privacy protection practices, please contact us at:<br>
                    Medconnect Data Privacy Office<br>
                    667 United Nations Avenue<br>
                    Ermita, Manila, Philippines<br>
                    By telephone:<br>
                    (+63)956047442<br>
                    By email:<br>
                    privacy@3boys1app.com.ph</p>
                <p>You have the right to complain to the National Privacy Commission if you think we have violated your
                    Data Privacy Act rights.</p>
                <p></p>
                <p><strong>1.0 DEFINITIONS OF
                        TERMS</strong></p>
                <p>1.1 Data Privacy Act
                    refers to Republic Act No. 10173 or the Data Privacy Act of 2012 and its implementing rules and
                    regulations;<br>
                    1.2 Data Subject
                    refers to an individual whose personal, sensitive personal, or privileged information is processed;<br>
                    1.3 Office refers to
                    the 3Boys1App Corp (Medconnect);<br>
                    1.4 Personal Data
                    collectively refers to personal information, sensitive personal information, and privileged
                    information;<br>
                    1.5 Personal
                    Information refers to any information, whether recorded in a material form or not, from which the
                    identity of an individual is apparent or can be reasonably and directly ascertained by the entity
                    holding the information, or when put together with other information would directly and certainly
                    identify an individual;<br>
                    1.6 Processing refers
                    to any operation or set of operations performed upon personal data including, but not limited to,
                    the collection, recording, organization, storage, updating or modification, retrieval,
                    consultation, use, consolidation, blocking, erasure or destruction of data. Processing may be
                    performed through automated means, or manual processing, if the personal data are contained or are
                    intended to be contained in a filing system;<br>
                    1.7 Privileged
                    information refers to any and all forms of personal data, which, under the Rules of Court and other
                    pertinent laws constitute privileged communication;<br>
                    1.8 Security incident
                    is an event or occurrence that affects or tends to affect data protection, or may compromise the
                    availability, integrity and confidentiality of personal data. It includes incidents that would
                    result to a personal data breach, if not for safeguards that have been put in place;<br>
                    1.9 Sensitive
                    Personal Information refers to personal data:<br>
                    1.9.1 About an individual’s race, ethnic origin, marital
                    status, age, color, and religious, philosophical or political affiliations;<br>
                    1.9.2 About an individual’s health, education, genetic or
                    sexual life of a person, or to any proceeding for any offense committed or alleged to have been
                    committed by such individual, the disposal of such proceedings, or the sentence of any court in
                    such proceedings;<br>
                    1.9.3 Issued by government agencies peculiar to an
                    individual which includes, but is not limited to, social security numbers, previous or current
                    health records, licenses or its denials, suspension or revocation, and tax returns; and<br>
                    1.9.4 Specifically established by an executive order or
                    an act of Congress to be kept classified.</p>
                <p><strong>2.0 ORGANIZATIONAL
                        SECURITY MEASURES</strong></p>
                <p>2.1 Data Privacy
                    Officer<br>
                    2.1.1 A Data Privacy Officer (DPO, for brevity) shall be
                    appointed by the Office. The DPO shall be chosen from one of the officers of the Quality and
                    Risk Management Office.<br>
                    2.1.2 The DPO is responsible for ensuring the Office’s
                    compliance with applicable laws and regulations protection of data privacy and security. The DPO’s
                    functions and responsibilities shall particularly include, among others:<br>
                    2.1.2.1 Monitoring the Office’s
                    personal data processing activities in order to ensure compliance with applicable personal data
                    privacy laws and regulations, including the conduct of periodic internal audits and review to
                    ensure that all the Office’s data privacy policies are adequately implemented by its employees and
                    authorized agents;<br>
                    2.1.2.2 Acting as a liaison
                    between the Office and the regulatory and accrediting bodies, and is in charge of the applicable
                    registration, notification, and reportorial requirements mandated by the Data Privacy Act, as well
                    any other applicable data privacy laws and regulations;<br>
                    2.1.2.3 Developing, establishing,
                    and reviewing policies and procedures for the exercise by data subjects of their rights under the
                    Data Privacy Act and other applicable laws and regulations on personal data privacy;<br>
                    2.1.2.4 Acting as the primary
                    point of contact whom data subject may coordinate and consult with for all concerns relating to
                    their personal data;<br>
                    2.1.2.5 Formulating capacity
                    building, orientation, and training programs for employees, agents or representatives of the Office
                    regarding personal data privacy and security policies;<br>
                    2.1.2.6 Preparing and filing the
                    annual report of the summary of documented security incidents and personal data breaches, if any,
                    as required under the Data Privacy Act, and of compliance with other requirements that may be
                    provided in other issuances of the National Privacy Commission.</p>
                <p><strong>3.0 Data
                        Privacy Principles</strong></p>
                <p>3.1 All processing of
                    personal data within the Office should be conducted in compliance with the following data privacy
                    principles as espoused in the Data Privacy Act:<br>
                    3.1.1 Transparency. The data subject must be aware of the
                    nature, purpose, and extent of the processing of his or her personal data by the Office, including
                    the risks and safeguards involved, the identity of persons and entities involved in processing his
                    or her personal data, his or her rights as a data subject, and how these can be exercised. Any
                    information and communication relating to the processing of personal data should be easy to access
                    and understand, using clear and plain language.<br>
                    3.1.2 Legitimate purpose. The processing of personal data
                    by the Office shall be compatible with a declared and specified purpose which must not be contrary
                    to law, morals, or public policy.<br>
                    3.1.3 Proportionality. The processing of personal data
                    shall be adequate, relevant, suitable, necessary, and not excessive in relation to a declared and
                    specified purpose. Personal data shall be processed by the Office only if the purpose of the
                    processing could not reasonably be fulfilled by other means.</p>
                <p><strong>4.0 Data
                        Processing Records</strong></p>
                <p>4.1 Adequate records
                    of the Office’s personal data processing activities shall be maintained at all times. The DPO, with
                    the cooperation and assistance of the Office’s Management Information Systems Department (MISD, for
                    brevity) shall be responsible for ensuring that these records are kept up-to-date. These records
                    shall include, at the minimum:<br>
                    4.1.1 Information about the purpose of the processing of
                    personal data, including any intended future processing or data sharing;<br>
                    4.1.2 A description of all categories of data subjects,
                    personal data, and recipients of such personal data that will be involved in the processing;<br>
                    4.1.3 General information about the data flow within the
                    Office, from the time of collection, processing, and retention, including the time limits for
                    disposal or erasure of personal data;<br>
                    4.1.4 A general description of the organizational,
                    physical, and technical security measures in place within the Office; and<br>
                    4.1.5 The name and contact details of the DPO as well as
                    any other staff members accountable for ensuring compliance with the applicable laws and
                    regulations for the protection of data privacy and security.</p>
                <p><strong>5.0 Management
                        of Human Resources</strong></p>
                <p>5.1 The DPO, with the
                    cooperation of the Office’s Human Resources Department (HRD, for brevity), shall develop and
                    implement measures to ensure that all the Office’s staff who have access to personal data will
                    strictly process such data in compliance with the requirements of the Data Privacy Act and other
                    applicable laws and regulations. These measures may include drafting new or updated relevant
                    policies of the Office and conducting training programs to educate employees and agents on data
                    privacy related concerns.</p>
                <p><strong>6.0 Employment
                        Agreements</strong></p>
                <p><strong></strong>6.1
                    The DPO shall ensure that all employment agreements reflect appropriate clauses indicating the
                    employee’s informed consent to:<br>
                    6.1.1 The processing of his or her personal data, for
                    purposes of maintaining the Office’s records;<br>
                    6.1.2 A continuing obligation of confidentiality on the
                    employee’s part in connection with the personal data that he or she may encounter during the period
                    of employment with the Office. This obligation shall apply even after the employee has left the
                    Office for whatever reasons.</p>
                <p><strong></strong><strong>7.0
                        Data Collection Procedures </strong></p>
                <p>7.1 The DPO, with the
                    assistance of the Office’s Administrative Directorate, Medical Directorate, Allied Medical Services
                    Division 1, Allied Medical Services Division 2, Nursing Service Division, Human Resource
                    Division, and Finance Directorate (FD, for brevity) and any other departments of the Office
                    responsible for the collection and processing of personal data, shall document the Office’s
                    personal data collection and processing procedures. The DPO shall ensure that such procedures are
                    updated and that the consent of the data subjects (when required by the DPA or other applicable
                    laws or regulations) is properly obtained. Such procedures shall also be regularly monitored,
                    modified, and updated to ensure that the rights of the data subjects are respected, and that
                    processing thereof is done fully in accordance with the DPA and other applicable laws and
                    regulations.</p>
                <p><strong>8.0 Data
                        Retention Schedule</strong></p>
                <p>8.1 Subject to
                    applicable requirements of the DPA and other relevant laws and regulations, personal data shall not
                    be retained by the Office for a period longer than necessary and/or proportionate to the purposes
                    for which such data was collected. The DPO shall be responsible for developing measures to
                    determine the applicable data retention schedules, as well as to safeguard the destruction and
                    disposal of such personal data in accordance with the DPA and other applicable laws and
                    regulations.</p>
                <p><strong>9.0 PHYSICAL
                        SECURITY MEASURES</strong></p>
                <p><strong></strong>9.1
                    The DPO shall develop and implement policies and procedures for the Office to monitor and limit
                    access to, and activities in, the offices of the Administrative Directorate, Medical Directorate,
                    Allied Medical Services Division 1, Allied Medical Services Division 2, Nursing Service
                    Division, Human Resource Division, and Finance Directorate, as well as any other departments and/or
                    workstations in the Office where personal data is processed, including guidelines that specify the
                    proper use of, and access to, electronic media.<br>
                    9.2 The design and
                    layout of the office spaces and work stations of the abovementioned departments, including the
                    physical arrangement of furniture and equipment, shall be periodically evaluated and readjusted in
                    order to provide privacy to anyone processing personal data, taking into consideration the
                    environment and accessibility to the public.<br>
                    9.3 The duties,
                    responsibilities, and schedules of individuals involved in the processing of personal data shall be
                    clearly defined to ensure that only the individuals actually performing official duties shall be in
                    the room or work station, at any given time. Further, the rooms and workstations used in the
                    processing of personal data shall, as far as practicable, be secured against natural disasters,
                    power disturbances, external access, and other similar threats.</p>
                <p><strong>10.0 TECHNICAL SECURITY MEASURES</strong></p>
                <p>10.1 The DPO, with the cooperation and
                    assistance of Administrative Directorate, shall continuously develop and evaluate the Office’s
                    security policy with respect to the processing of personal data. The security policy should include
                    the following minimum requirements:<br>
                    10.1.1 Safeguards to protect the Office’s computer network and systems against
                    accidental, unlawful, or unauthorized usage, any interference which will affect data integrity or
                    hinder the functioning or availability of the system, and unauthorized access;<br>
                    10.1.2 The ability to ensure and maintain the confidentiality, integrity,
                    availability, and resilience of the Office’s data processing systems and services;<br>
                    10.1.3 Regular monitoring for security breaches, and a process both for
                    identifying and accessing reasonably foreseeable vulnerabilities in the Office’s computer network
                    and system, and for taking preventive, corrective, and mitigating actions against security
                    incidents that can lead to a personal data breach;<br>
                    10.1.4 The ability to restore the availability and access to personal data in a
                    timely manner in the event of a physical or technical incident;<br>
                    10.1.5 A process for regularly testing, assessing, and evaluating the
                    effectiveness of security measures; and<br>
                    10.1.6 Encryption of personal data during storage and while in transit,
                    authentication process, and other technical security measures that control and limit access
                    thereto.</p>
                <p><strong>11.0 RIGHTS OF THE DATA SUBJECT</strong></p>
                <p>11.1 As provided under the DPA, data subjects
                    have the following rights in connection with the processing of their personal data: right to be
                    informed, right to object, right to access, right to rectification, right to erasure or blocking,
                    and right to damages. Employees and agents of the Office are required to strictly respect and obey
                    the rights of the data subjects. The DPO shall be responsible for monitoring such compliance and
                    developing the appropriate disciplinary measures and mechanism.</p>
                <p>11.1.1 Right to be Informed<br>
                    11.1.1.1 The data subject has the right to be informed
                    whether personal data pertaining to him or her shall be, are being, or have been processed.<br>
                    11.1.1.2 The data subject shall be notified and furnished
                    with information indicated hereunder before the entry of his or her personal data into the records
                    of the Office, or at the next practical opportunity:</p>
                <ol>
                    <li>Description of the personal data to be entered into the system;</li>
                    <li>Purposes for which they are being or will be processed, including processing for direct
                        marketing, profiling or historical, statistical or scientific purpose;</li>
                    <li>Basis of processing, when processing is not based on the consent of the data subject;</li>
                    <li>Scope and method of the personal data processing;</li>
                    <li>The recipients or classes of recipients to whom the personal data are or may be disclosed or
                        shared;</li>
                    <li>Methods utilized for automated access, if the same is allowed by the data subject, and the
                        extent to which such access is authorized, including meaningful information about the logic
                        involved, as well as the significance and the envisaged consequences of such processing for the
                        data subject;</li>
                    <li>The identity and contact details of the DPO;</li>
                    <li>The period for which the information will be stored; and</li>
                    <li>The existence of their rights as data subjects, including the right to access, correction, and
                        object to the processing, as well as the right to lodge a complaint before the National Privacy
                        Commission.</li>
                </ol>
                <p></p>
                <p>11.1.2 Right to Object</p>
                <p>11.1.2.1 The data subject shall have the right to object
                    to the processing of his or her personal data, including processing for direct marketing, automated
                    processing or profiling. The data subject shall also be notified and given an opportunity to
                    withhold consent to the processing in case of changes or any amendment to the information supplied
                    or declared to the data subject in the preceding paragraph.<br>
                    11.1.2.2 When a data subject objects or withholds
                    consent, the Office shall no longer process the personal data, unless:</p>
                <ol>
                    <li>The personal data is needed pursuant to a subpoena;</li>
                    <li>The collection and processing are for obvious purposes, including, when it is necessary for the
                        performance of or in relation to a contract or service to which the data subject is a party, or
                        when necessary or desirable in the context of an employer-employee relationship between the
                        Office and the data subject; or</li>
                    <li>The personal data is being collected and processed as a result of a legal obligation.</li>
                </ol>
                <p>11.1.3 Right to Access</p>
                <p>11.1.3.1 The data subject has the right to reasonable
                    access to, upon demand, the following:</p>
                <ol>
                    <li>Contents of his or her personal data that were processed;</li>
                    <li>Sources from which personal data were obtained;</li>
                    <li>Names and addresses of recipients of the personal data;</li>
                    <li>Manner by which such data were processed;</li>
                    <li>Reasons for the disclosure of the personal data to recipients, if any;</li>
                    <li>Information on automated processes where the data will, or is likely to, be made as the sole
                        basis for any decision that significantly affects or will affect the data subject;</li>
                    <li>Date when his or her personal data concerning the data subject were last accessed and modified;
                        and</li>
                    <li>The designation, name or identity, and address of the DPO.</li>
                </ol>
                <p>11.1.4 Right to Rectification</p>
                <p>11.1.4.1 The data subject has the right to dispute the
                    inaccuracy or error in the personal data, and the Office shall correct it immediately and
                    accordingly, unless the request is vexatious or otherwise unreasonable. If the personal data has
                    been corrected, the Office shall ensure the accessibility of both the new and the retracted
                    personal data and the simultaneous receipt of the new and the retracted personal data by the
                    intended recipients thereof: Provided, That recipients or third parties who have previously
                    received such processed personal data shall be informed of its inaccuracy and its rectification,
                    upon reasonable request of the data subject.</p>
                <p></p>
                <p>11.1.5 Right to Erasure or Blocking</p>
                <p>11.1.5.1 The data subject shall have the right to suspend,
                    withdraw, or order the blocking, removal, or destruction of his or her personal data from the
                    Office’s filing system.<br>
                    11.1.5.2 This right may be exercised upon discovery and
                    substantial proof of any of the following:</p>
                <ol>
                    <li style="list-style-type: none;">
                        <ol>
                            <li style="list-style-type: none;">
                                <ol>
                                    <li style="list-style-type: none;">
                                        <ol>
                                            <li style="list-style-type: none;">
                                                <ol>
                                                    <li>The personal data is incomplete, outdated, false, or unlawfully
                                                        obtained;</li>
                                                    <li>The personal data is being used for purpose not authorized by
                                                        the data subject;</li>
                                                    <li>The personal data is no longer necessary for the purposes for
                                                        which they were collected;</li>
                                                    <li>The data subject withdraws consent or objects to the
                                                        processing, and there is no other legal ground or overriding
                                                        legitimate interest for the processing by the Office;</li>
                                                    <li>The personal data concerns private information that is
                                                        prejudicial to data subject, unless justified by freedom of
                                                        speech, of expression, or of the press or otherwise authorized;</li>
                                                    <li>The processing is unlawful; or</li>
                                                    <li>The data subject’s rights have been violated</li>
                                                </ol>
                                            </li>
                                        </ol>
                                        <p>11.1.5.3 The DPO may notify third
                                            parties who have previously received such processed personal
                                            data.11.1.6 Transmissibility of Rights of Data Subjects</p>
                                        <p>11.1.6.1 The lawful heirs and
                                            assigns of the data subject may invoke the rights of the data subject to
                                            which he or she is an heir or an assignee, at any time after the death of
                                            the data subject, or when the data subject is incapacitated or incapable of
                                            exercising his/her rights.</p>
                                        <p>11.1.7 Data Portability</p>
                                        <p>11.1.7.1 Where his or her personal
                                            data is processed by the Office through electronic means and in a
                                            structured and commonly used format, the data subject shall have the right
                                            to obtain a copy of such data in an electronic or structured format that is
                                            commonly used and allows for further use by the data subject. The exercise
                                            of this right shall primarily take into account the right of data subject
                                            to have control over his or her personal data being processed based on
                                            consent or contract, for commercial purpose, or through automated means.
                                            The DPO shall regularly monitor and implement the National Privacy
                                            Commission’s issuances specifying the electronic format referred to above,
                                            as well as the technical standards, modalities, procedures and other rules
                                            for their transfer.</p>
                                        <p><strong>12.0 DATA
                                                BREACHES &amp; SECURITY INCIDENTS</strong></p>
                                        <p>12.1 Data Breach
                                            Notification</p>
                                        <p>12.1.1 All employees and agents of the Office involved in
                                            the processing of personal data are tasked with regularly monitoring for
                                            signs of a possible data breach or security incident. In the event that
                                            such signs are discovered, the employee or agent shall immediately report
                                            the facts and circumstances to the DPO within twenty-four (24) hours from
                                            his or her discovery for verification as to whether or not a breach
                                            requiring notification under the Data Privacy Act has occurred as well as
                                            for the determination of the relevant circumstances surrounding the
                                            reported breach and/or security incident. The DPO shall notify the
                                            National Privacy Commission and the affected data subjects pursuant to
                                            requirements and procedures prescribed by the DPA.<br>
                                            12.1.2 The notification to the DPA and the affected data
                                            subjects shall at least describe the nature of the breach, the personal
                                            data possibly involved, and the measures taken by the Office to address the
                                            breach. The notification shall also include measures taken to reduce the
                                            harm or negative consequences of the breach and the name and contact
                                            details of the DPO. The form and procedure for notification shall conform
                                            to the regulations and circulars issued by the National Privacy Commission,
                                            as may be updated from time to time.</p>
                                        <p><strong>12.2 Breach
                                                Reports</strong></p>
                                        <p>12.2.1 All security incidents and personal data breaches
                                            shall be documented through written reports, including those not covered by
                                            the notification requirements. In the case of personal data breaches, a
                                            report shall include the facts surrounding an incident, the effects of such
                                            incident, and the remedial actions taken by the personal information
                                            controller. In other security incidents not involving personal data, a
                                            report containing aggregated data shall constitute sufficient
                                            documentation. These reports shall be made available when requested by the
                                            National Privacy Commission. A general summary of the reports shall be
                                            submitted by the DPO to the National Privacy Commission annually.</p>
                                        <p></p>
                                        <p><strong>13.0
                                                OUTSOURCING AND SUBCONTRACTING AGREEMENTS</strong></p>
                                        <p>13.1 Any personal data
                                            processing conducted by an external agent or entity (third-party service
                                            provider) on behalf of the Office should be evidenced by a valid written
                                            contract with the Office. Such contract should expressly set out the
                                            subject matter and duration of the processing, the nature and purpose of
                                            the processing, the type of personal data and categories of data subjects,
                                            the obligations and rights of the Office, and the geographic location of
                                            the processing under the contract.<br>
                                            13.2 The fact that
                                            the Office entered into such contract or arrangement does not give the said
                                            external agent or entity the authority to subcontract to another entity the
                                            whole or part of the subject matter of said contract or arrangement, unless
                                            expressly stipulated in writing in the same contract or evidenced by a
                                            separate written consent/agreement of the Office. The
                                            subcontracting agreement must also comply with the standards/criteria
                                            prescribed by the immediately preceding paragraph.<br>
                                            13.3 In addition, the
                                            contract and the subcontracting contract shall include express stipulations
                                            requiring the external agent or entity (including the subcontractor) to:<br>
                                            13.3.1 Process the personal data only upon the documented
                                            instructions of the Office, including transfers of personal data to another
                                            country or an international organization, unless such transfer is
                                            authorized by law;<br>
                                            13.3.2 Ensure that an obligation of confidentiality is
                                            imposed on persons and employees authorized by the external agent/entity
                                            and subcontractor to process the personal data;<br>
                                            13.3.3 Implement appropriate security measures;<br>
                                            13.3.4 Comply with the Data Privacy Act and other
                                            issuances of the National Privacy Commission, and other applicable laws, in
                                            addition to the obligations provided in the contract, or other legal act
                                            with the external party;<br>
                                            13.3.5 Not engage another processor without prior
                                            instruction from the Office: Provided, that any such arrangement shall
                                            ensure that the same obligations for data protection under the contract or
                                            legal act are implemented, taking into account the nature of the
                                            processing;<br>
                                            13.3.6 Assist the Office, by appropriate technical and
                                            organizational measures, and to the extent possible, fulfill the obligation
                                            to respond to requests by data subjects relative to the exercise of their
                                            rights;<br>
                                            13.3.7 Assist the Office in ensuring compliance with the
                                            Data Privacy Act and other issuances of the National Privacy Commission,
                                            taking into account the nature of processing and the information available
                                            to the external party who acts as a personal information processor as
                                            defined under the Data Privacy Act;<br>
                                            13.3.8 At the choice of the Office, delete or return all
                                            personal data to it after the end of the provision of services relating to
                                            the processing: Provided, that this includes deleting existing copies
                                            unless storage is authorized by the Data Privacy Act or another applicable
                                            laws or regulations;<br>
                                            13.3.9 Make available to the Office all information
                                            necessary to demonstrate compliance with the obligations laid down in the
                                            Data Privacy Act, and allow for and contribute to audits, including
                                            inspections, conducted by the Office or another auditor mandated by the
                                            latter; and<br>
                                            13.3.10Immediately inform the Office if, in its opinion, an instruction
                                            violates the Data Privacy Act or any other issuance of the National Privacy
                                            Commission.</p>
                                        <p><strong>14.0
                                                NON-ADHERENCE TO POLICIES AND PROCEDURES</strong></p>
                                        <p>14.1
                                            An Improvement Action Form (IAF) shall be issued to any staff/division not
                                            adhering to the foregoing Data Privacy Manual.</p>
                                        <p>14.2
                                            Staff with a single non-conformity but with detrimental repercussion to the
                                            hospital’s operation and/or with recurrent non-conformities to the Data
                                            Privacy Manual shall be subjected to disciplinary actions following
                                            existing hospital rules and regulations.</p>
                                        <p>14.3
                                            After due process, staff who commits Data Privacy Act non-conformity with
                                            detrimental repercussion to the hospital’s operation and reputation shall
                                            be subjected to the Penalties in reference to the Data Privacy Act of 2012;</p>
                                        <p>14.3.1 Unauthorized Processing of Personal Information and Sensitive
                                            Personal Information. – (a) The unauthorized processing of personal
                                            information shall be penalized by imprisonment ranging from one (1) year to
                                            three (3) years and a fine of not less than Five hundred thousand pesos
                                            (Php500,000.00) but not more than Two million pesos (Php2,000,000.00) shall
                                            be imposed on persons who process personal information without the consent
                                            of the data subject, or without being authorized under this Act or any
                                            existing law.(b) The unauthorized processing of personal sensitive
                                            information shall be penalized by imprisonment ranging from three (3) years
                                            to six (6) years and a fine of not less than Five hundred thousand pesos
                                            (Php500,000.00) but not more than Four million pesos (Php4,000,000.00)
                                            shall be imposed on persons who process personal information without the
                                            consent of the data subject, or without being authorized under this Act or
                                            any existing law. Data Privacy Act of 2012 Republic Act No. 10173 Section
                                            25.</p>
                                        <p>14.3.2 Accessing Personal Information and Sensitive Personal Information Due
                                            to Negligence. – (a) Accessing personal information due to negligence shall
                                            be penalized by imprisonment ranging from one (1) year to three (3) years
                                            and a fine of not less than Five hundred thousand pesos (Php500,000.00) but
                                            not more than Two million pesos (Php2,000,000.00) shall be imposed on
                                            persons who, due to negligence, provided access to personal information
                                            without being authorized under this Act or any existing law.(b) Accessing
                                            sensitive personal information due to negligence shall be penalized by
                                            imprisonment ranging from three (3) years to six (6) years and a fine of
                                            not less than Five hundred thousand pesos (Php500,000.00) but not more than
                                            Four million pesos (Php4,000,000.00) shall be imposed on persons who, due
                                            to negligence, provided access to personal information without being
                                            authorized under this Act or any existing law. Data Privacy Act of 2012
                                            Republic Act No. 10173 Section 26.</p>
                                        <p>14.3.3 Improper Disposal of Personal Information and Sensitive Personal
                                            Information. – (a) The improper disposal of personal information shall be
                                            penalized by imprisonment ranging from six (6) months to two (2) years and
                                            a fine of not less than One hundred thousand pesos (Php100,000.00) but not
                                            more than Five hundred thousand pesos (Php500,000.00) shall be imposed on
                                            persons who knowingly or negligently dispose, discard or abandon the
                                            personal information of an individual in an area accessible to the public
                                            or has otherwise placed the personal information of an individual in its
                                            container for trash collection. b) The improper disposal of sensitive
                                            personal information shall be penalized by imprisonment ranging from one
                                            (1) year to three (3) years and a fine of not less than One hundred
                                            thousand pesos (Php100,000.00) but not more than One million pesos
                                            (Php1,000,000.00) shall be imposed on persons who knowingly or negligently
                                            dispose, discard or abandon the personal information of an individual in an
                                            area accessible to the public or has otherwise placed the personal
                                            information of an individual in its container for trash collection. Data
                                            Privacy Act of 2012 Republic Act No. 10173 Section 27.</p>
                                        <p>14.3.4 Processing of Personal Information and Sensitive Personal Information
                                            for Unauthorized Purposes. – The processing of personal information for
                                            unauthorized purposes shall be penalized by imprisonment ranging from one
                                            (1) year and six (6) months to five (5) years and a fine of not less than
                                            Five hundred thousand pesos (Php500,000.00) but not more than One million
                                            pesos (Php1,000,000.00) shall be imposed on persons processing personal
                                            information for purposes not authorized by the data subject, or otherwise
                                            authorized under this Act or under existing laws.The processing of
                                            sensitive personal information for unauthorized purposes shall be penalized
                                            by imprisonment ranging from two (2) years to seven (7) years and a fine of
                                            not less than Five hundred thousand pesos (Php500,000.00) but not more than
                                            Two million pesos (Php2,000,000.00) shall be imposed on persons processing
                                            sensitive personal information for purposes not authorized by the data
                                            subject, or otherwise authorized under this Act or under existing laws.
                                            Data Privacy Act of 2012 Republic Act No. 10173 Section 28.</p>
                                        <p>14.3.5 Unauthorized Access or Intentional Breach. – The penalty of
                                            imprisonment ranging from one (1) year to three (3) years and a fine of not
                                            less than Five hundred thousand pesos (Php500,000.00) but not more than Two
                                            million pesos (Php2,000,000.00) shall be imposed on persons who knowingly
                                            and unlawfully, or violating data confidentiality and security data
                                            systems, breaks in any way into any system where personal and sensitive
                                            personal information is stored. Data Privacy Act of 2012 Republic Act No.
                                            10173 Section 29.</p>
                                        <p>14.3.6 Concealment of Security Breaches Involving Sensitive Personal
                                            Information. – The penalty of imprisonment of one (1) year and six (6)
                                            months to five (5) years and a fine of not less than Five hundred thousand
                                            pesos (Php500,000.00) but not more than One million pesos (Php1,000,000.00)
                                            shall be imposed on persons who, after having knowledge of a security
                                            breach and of the obligation to notify the Commission pursuant to Section
                                            20(f), intentionally or by omission conceals the fact of such security
                                            breach. Data Privacy Act of 2012 Republic Act No. 10173 Section 30.</p>
                                        <p>14.3.7 Malicious Disclosure. – Any personal information controller or
                                            personal information processor or any of its officials, employees or
                                            agents, who, with malice or in bad faith, discloses unwarranted or false
                                            information relative to any personal information or personal sensitive
                                            information obtained by him or her, shall be subject to imprisonment
                                            ranging from one (1) year and six (6) months to five (5) years and a fine
                                            of not less than Five hundred thousand pesos (Php500,000.00) but not more
                                            than One million pesos (Php1,000,000.00). Data Privacy Act of 2012 Republic
                                            Act No. 10173 Section 31.</p>
                                        <p>14.3.8 Unauthorized Disclosure. – (a) Any personal
                                            information controller or personal information processor or any of its
                                            officials, employees or agents, who discloses to a third party personal
                                            information not covered by the immediately preceding section without the
                                            consent of the data subject, shall he subject to imprisonment ranging from
                                            one (1) year to three (3) years and a fine of not less than Five hundred
                                            thousand pesos (Php500,000.00) but not more than One million pesos
                                            (Php1,000,000.00).</p>
                                        <p>(b) Any personal information controller or personal information processor or
                                            any of its officials, employees or agents, who discloses to a third party
                                            sensitive personal information not covered by the immediately preceding
                                            section without the consent of the data subject, shall be subject to
                                            imprisonment ranging from three (3) years to five (5) years and a fine of
                                            not less than Five hundred thousand pesos (Php500,000.00) but not more than
                                            Two million pesos (Php2,000,000.00). Data Privacy Act of 2012 Republic Act
                                            No. 10173 Section 32.</p>
                                        <p>14.3.9 Combination or Series of Acts. – Any combination or
                                            series of acts as defined in Sections 25 to 32 shall make the person
                                            subject to imprisonment ranging from three (3) years to six (6) years and a
                                            fine of not less than One million pesos (Php1,000,000.00) but not more than
                                            Five million pesos (Php5,000,000.00). Data Privacy Act of 2012 Republic Act
                                            No. 10173 Section 33.</p>
                                        <p>14.3.9.1 Extent of Liability. – If
                                            the offender is a corporation, partnership or any juridical person, the
                                            penalty shall be imposed upon the responsible officers, as the case may be,
                                            who participated in, or by their gross negligence, allowed the commission
                                            of the crime. If the offender is a juridical person, the court may suspend
                                            or revoke any of its rights under this Act. If the offender is an alien, he
                                            or she shall, in addition to the penalties herein prescribed, be deported
                                            without further proceedings after serving the penalties prescribed. If the
                                            offender is a public official or employee and lie or she is found guilty of
                                            acts penalized under Sections 27 and 28 of this Act, he or she shall, in
                                            addition to the penalties prescribed herein, suffer perpetual or temporary
                                            absolute disqualification from office, as the case may be.<br>
                                            Data Privacy Act of 2012 Republic Act No. 10173 Section 34.</p>
                                        <p>14.3.9.2 Large-Scale. – The
                                            maximum penalty in the scale of penalties respectively provided for the
                                            preceding offenses shall be imposed when the personal information of at
                                            least one hundred (100) persons is harmed, affected or involved as the
                                            result of the above mentioned actions. Data Privacy Act of 2012 Republic
                                            Act No. 10173 Section 35.</p>
                                        <p>14.3.9.3 Restitution. –
                                            Restitution for any aggrieved party shall be governed by the provisions of
                                            the New Civil Code. Data Privacy Act of 2012 Republic Act No. 10173 Section
                                            33</p>
                                        <p></p>
                                        <p></p>
                                        <p>15.0 REFERENCES</p>
                                        <p>15.1 MDH Quality
                                            Manual</p>
                                        <p>15.2 Health Privacy
                                            Code implementing Administrative Order No. 2016-0002 “Privacy Guidelines
                                            for the Implementation of the Philippine Health Information Exchange.</p>
                                        <p>15.3 Data Privacy Act
                                            of 2012 (Republic Act No.10173)</p>
                                        <p>15.4 National Privacy
                                            Act Tool Kit: A Guide for Management and Data Protection Officers</p>
                                        <p></p>
                                        <p></p>
                                        <p>“Medconnect pledge to protect personal information.</p>
                                        <p>Medconnect shall take steps to protect personal information
                                            from theft, loss or unauthorized access, copying, modification, use,
                                            disclosure or disposal.</p>
                                        <p>Medconnect shall take steps to ensure that anyone who performs
                                            services on Medconnect’s behalf respects privacy rights and
                                            only uses or discloses personal information for permitted purposes.</p>
                                        <p>Medconnect shall promptly investigate all complaints regarding
                                            our compliance with the DPA. All privacy complaints shall be treated in a
                                            confidential manner.</p>
                                        <p>For more information about the Medconnect privacy protection
                                            practices, or to raise a concern about our privacy protection practices,
                                            please contact us at:</p>
                                        <p>By mail:<br>
                                            Medconnect Data Privacy Office<br>
                                            667 United Nations Avenue<br>
                                            Ermita, Manila, Philippines<br>
                                            By telephone:<br>
                                            (+63)9560474423<br>
                                            By email:<br>
                                            privacy@3boys1app.com.ph</p>
                                        <p></p>
                                        <p>You have the right to complain to the National Privacy Commission if you
                                            think we have violated your DPA rights.”</p>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</body>

</html>