body {
    background-color: var(--silver);
    /* background-image: url("../img/doc.jpg"); */
}

.container {
    margin-top: 15%;
}

#loginBtn {
    float: right;
    background: var(--darker);
    color: white
}

#logo {
    margin-left: -20px;
    padding-left: 20px;
    display: block;
    border-bottom: 3px solid var(--darker);
    margin-bottom: 30px;
}

#register {
    color: var(--light);
    float: right;
    margin-top: 7px;
    margin-right: 20px;
}