body {
    background-color: var(--white);
}

#mySidebar {
    background-color: var(--darker);

}
/* 
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
} */

#mySidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: rgb(160, 160, 160);
    display: block;
}

.sidenav a:hover {
    color: var(--white);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sideLogo {
    position: absolute;
    bottom: 0;
    left: 20px;
}

#patientPic {
    border-radius: 50%;
    margin: 0 auto;
}

#patientName {
    font-size: 1.1em;
    text-align: center;
    color: white;
}

.navbar {
    background-color: var(--silver);
    border: none;
    border-bottom: 2px solid var(--darker);
}

.navbar-header {
    margin-left: -15px !important;
}

#logo {
    margin-left: 5px;
}

#openNav {
    background: var(--darker);
    color: white;
}

#closeSideBar {
    padding: 10px;
    color: white;
    font-size: 1.5em;
}

#closeSideBar:hover{
    cursor: pointer;
}

.panel-heading {
    background: var(--darker) !important;
    color: white !important;
}

.panel-body .data-header {
    font-weight: bold;
}

.panel-action {
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.data-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

select option {
    width: 80%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#visitHistory {
    background: var(--silver);
}

.panel-title a {
    padding-left: 5px;
}

.panel-title a:focus {
    text-decoration: none;
}

.panel-title .fa {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.scrollable-img {
    width: 100%;
    overflow-x: scroll;
}