body {
    background: var(--white);
}

.form-background {
    background: var(--silver);
    border-bottom: 2px solid var(--darker);
}

.form-background-light {
    background: var(--white);
    margin-top: 10px;
}

a {
    font-weight: bold;
    color: var(--darker);
}